.container-flex {
    display: flex;
    width: 100%;
}

.cart-col {
    /* width: 100%; */
    margin-left: 20px;
}
 
.cart-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
}

.summary-col {
    /* width: 100%; */
    margin-right: 20px;
}

.cart-container {
    margin-bottom: 150px;
}

.cart-item-image {
    width: 200px;
    object-fit: cover;
}

.cart-item-name {
    font-size: 16px;
    font-weight: bold;
}

.addQuantity {
    border-color: rgb(179, 179, 179);
    width: 30px;
    margin-right: 10px;
}

.remove-button {
    border-color: rgb(179, 179, 179);
    width: 30px;
}

.cart-summary-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cart-summary {
    padding: 20px;
    border: 1px solid #e0e0e0;
}

.cart-summary-value {
    text-align: right;
}

.total {
    font-size: 24px;
    font-weight: bold;
}

.checkout-button {
    border: 1px solid #000000;
    background-color: #000000 !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 5px;
    box-shadow: #000000 0px 0px 1px;
    padding: 0px;
    width: 100%;
    height: 50px;
    margin: auto;
}

.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-box {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.popup-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
  gap: 1rem;
}

.popup-buttons button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #222;
  color: white;
  border-radius: 45px;
  cursor: pointer;
}

.popup-buttons .popup-cancel {
  background-color: #888;
}
