.register-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f0f0f0;
    gap: 200px;
}

.register-page> div{
    width: 450px;
    height: auto;   
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-content: center;
}

.register-page input[type="text"],[type="email"],[type="password"]{
    width: 80%;
    height: 60px;
    padding-inline: 30px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #ccc;
    font-size: larger;
}

.register-page button[type="submit"]{
    width: 80%;
    height: 60px;
    margin: 10px 0;
    border: none;
    border-radius: 30px;
    background-color: #6d4aff;
    color: #fff;
    font-size: larger;
    cursor: pointer;
}